// RESET
* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-spacing: 0;
}

body {
    background-color: rgb(253, 245, 173);
}

.container {
    width: 100%;
}

// HEADER
.header__inner {
    position: relative;
    height: 30px;
    background-color: rgb(32, 56, 110);
    margin: auto;
    margin-bottom: 20px;
    color: aliceblue;
    text-align: center;
    line-height: 12px;

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 11px;
        
    }

    a {
        font-size: 10px;
    }

    a:nth-child(1) {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        text-decoration: none;
        color: aliceblue;
    }

    a:nth-child(3) {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        text-decoration: none;
        color: aliceblue;
    }

}

// MAIN SECTION
.main__inner {
    margin: auto;

    .main__table__contents {
        display: block;
        margin-bottom: 20px;

        .table-wrapper {
            max-height: 150px;
            overflow: auto;
            margin-bottom: 30px;

            table {
                margin-left: auto;
                margin-right: auto;
                // border-spacing: 10px 5px;
                position: relative;
                text-align: center;
                font-size: 11px;
                margin-bottom: 30px;
                overflow: auto;
                width: 100%;
                max-width: 450px;
                border-collapse: separate;
                border: 0px;
                
                thead {
                    tr {
                        th {
                            position: sticky;
                            top: 0;
                            z-index: 100;
                            background-color: rgb(253, 245, 173);
                            display: inline-block;
                            width: 20%;
                            word-break: break-all;
                            padding: 5px 5px 5px 5px;

                            &:before{
                                content: "";
                                position: absolute;
                                top: -1px;
                                left: -1px;
                                width: 100%;
                                height: 100%;
                                border: 1px solid rgb(253, 245, 173);
                              }
                        }

                        th:nth-child(2) {
                            width: 25%;
                        }
                    }
                }

                tbody {
                    tr {    
                        td {
                            display: inline-block;
                            width: 20%;
                            word-break: break-all;
                            padding: 0 5px 5px 5px;
                        }
        
                        td:nth-child(2) {
                            width: 25%;
                        }
                    }
                }
            }
        }
            

        form {
            display: flex;
            font-size: 10px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;

            .form-inputs {
                justify-content: space-between;
                
                input {
                    font-size: 10px;
                    width: 20px;
                }
                select {
                    font-size: 10px;
                    width: 40px;
                }
            }
            .form-inputs:nth-child(2) {
                input {
                    width: 80px;
                }
            }
            .form-inputs:nth-child(4) {
                input {
                    width: 50px;
                }
            }

            .form-button {
                button {
                    font-size: 10px;
                }
            }
        }
    
        canvas {
            display: block;
            margin: auto;
            height: 150px;
            width: 150px;
            margin-bottom: 20px;
            z-index: 3;
            
        }
    }

    .main__contents {
        text-align: center;
        font-size: 10px;

        .main__flex__calc {
            display: flex;
            width: 180px;
            justify-content: space-between;
            margin-right: auto;
            margin-left: auto;
            
        }
    }
}

