* {
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
}

.header__inner {
  position: relative;
  height: 50px;
  background-color: #20386e;
  margin: auto;
  margin-bottom: 20px;
  color: aliceblue;
  text-align: center;
}

.header__inner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main__inner {
  margin: auto;
}

.main__inner .main__flex__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.main__inner .main__flex__contents table {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 30px 0px;
  text-align: center;
}

.main__inner .main__flex__contents table tr th:nth-child(2) {
  width: 200px;
}

.main__inner .main__flex__contents canvas {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
}

.main__inner .main__contents {
  text-align: center;
}
