<section class="container main__inner">
    <table>
        <tr>
            <th></th>
            <th>column1</th>
            <th>column2</th>
            <th>column3</th>
        </tr>
    </table>
    <canvas id="mycanvas"></canvas>

</section>