<section class="container main__inner">
    <div class="main__flex__contents">
        <table>
            <tr>
                <th>日付</th>
                <th>内容</th>
                <th>カテゴリ</th>
                <th>値段</th>
            </tr>
            <tr>
                <td>xxx</td>
                <td>xxx</td>
                <td>
                    <select name="" id="">
                        <option value="food">食費</option>
                        <option value="lifestyle">生活費</option>
                    </select>
                </td>
                <td>xxx</td>
            </tr>
            <tr>
                <td>xxx</td>
                <td>xxx</td>
                <td>
                    <select name="" id="">
                        <option value="food">食費</option>
                        <option value="lifestyle">生活費</option>
                    </select>
                </td>
                <td>xxx</td>
            </tr>
            <tr>
                <td>xxx</td>
                <td>xxx</td>
                <td>
                    <select name="" id="">
                        <option value="food">食費</option>
                        <option value="lifestyle">生活費</option>
                    </select>
                </td>
                <td>xxx</td>
            </tr>
        </table>
        <canvas id="mycanvas"></canvas>
    </div>
    <div class="main__contents">
        <h2>繰越金</h2>
        <span>10000 ￥</span>
    </div>
</section>